@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sectionTitle {
  font-family: nunito;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sectionDescription {
  color: #2E2E2E;
  font-family: nunito;
  font-size: 28px;
  opacity: 0.8;
  margin-bottom: 100px;
}

navbar {
  display: flex;
  width: 100%;
  padding: 40px 140px 10px;
  justify-content: space-between;
  align-items: center;
}
navbar .navbar-content {
  display: flex;
  color: white;
  font-family: nunito;
  font-size: 20px;
  align-items: center;
}
navbar .navbar-content ul li {
  display: inline-block;
}
navbar .navbar-content ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 70px;
}
navbar .navbar-content--login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  color: #93A5FF;
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 0px 140px;
  margin-bottom: 150px;
}
header .header-img {
  width: 750px;
}
header .header-layer {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
}
header .header-content {
  display: flex;
  flex-direction: column;
  font-family: nunito;
  color: white;
}
header .header-content h1 {
  font-family: roboto;
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 15px;
}
header .header-content > p {
  font-size: 28px;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 45px;
}
header .header-content .input {
  display: flex;
}
header .header-content .input input {
  font-size: 20px;
  background-color: #384170;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 14px 17px;
  font-family: nunito;
  font-weight: 300;
  width: 400px;
  outline: none;
}
header .header-content .input input::placeholder {
  color: white;
  opacity: 0.7;
}
header .header-content .input .extension {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #384170;
  padding: 14px 17px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 5px;
  width: 100px;
  font-family: nunito;
  color: white;
}
header .header-content .input .extension img {
  width: 9px;
  height: 6px;
}
header .header-content .input > p {
  text-transform: uppercase;
  background-color: #93A5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  letter-spacing: 0.25px;
  margin-left: 30px;
  width: fit-content;
}

.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px 0px 100px;
}
.gain-content {
  display: flex;
}
.gain-content-cards {
  display: flex;
  flex-direction: column;
}
.gain-content-cards div {
  display: flex;
  font-family: nunito;
  margin-bottom: 30px;
  width: 70%;
  justify-content: space-between;
}
.gain-content-cards div img {
  width: 75px;
  height: 75px;
}
.gain-content-cards div h3 {
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.gain-content-cards div p {
  opacity: 0.8;
}
.gain-content-cards div > div {
  flex-direction: column;
  width: 80%;
}
.gain-content-illustrations {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gain-content-illustrations :nth-child(3) {
  width: 80%;
}
.gain-content-illustrations .square {
  position: absolute;
}
.gain-content-illustrations .square1 {
  bottom: 0;
  left: 0;
}
.gain-content-illustrations .square2 {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F8FF;
  padding: 100px 0px 75px;
}
.start-content {
  display: flex;
  justify-content: center;
  padding: 0px 100px;
  flex-wrap: wrap;
}
.start-content .item1 {
  background-color: #93A5FF;
}
.start-content .item2 {
  background-color: #424D83;
}
.start-content-item {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  padding: 50px 50px 45px 50px;
  border-radius: 10px;
  margin: 0 50px;
  width: 40%;
  min-width: 550px;
  margin-bottom: 50px;
}
.start-content-item > img {
  position: absolute;
  top: 15px;
  right: 15px;
}
.start-content-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 40px;
}
.start-content-item .launch {
  background-color: #424D83;
}
.start-content-item .window {
  background-color: #93A5FF;
}
.start-content-item > p:nth-of-type(1) {
  font-family: nunito;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.start-content-item > p:nth-of-type(2) {
  font-family: nunito;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}
.start-content-item-button {
  display: flex;
  justify-content: flex-end;
}
.start-content-item-button > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #93A5FF;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}
.start-content-item-button > div p {
  font-family: nunito;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
