@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 12px;
  }
}

.slideInLeft {
  animation: slideInLeft 0.5s;
  transform: translateX(-80%);
  background-color: #8C9EFC;
}

.slideInRight {
  animation: slideInRight 0.5s;
  transform: translateX(0%);
  background-color: transparent;
}

@keyframes slideInLeft {
  0% {
    background-color: transparent;
    transform: translateX(0);
  }
  100% {
    background-color: #8C9EFC;
    transform: translateX(-80%);
  }
}
@keyframes slideInRight {
  0% {
    background-color: #8C9EFC;
    transform: translateX(-80%);
  }
  100% {
    background-color: transparent;
    transform: translateX(0);
  }
}
.sectionTitle {
  font-family: nunito;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.sectionDescription {
  color: #2E2E2E;
  font-family: nunito;
  font-size: 1.75rem;
  opacity: 0.8;
  margin-bottom: 100px;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
  padding: 0px 140px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  header {
    padding: 0px 75px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 880px) {
  header {
    padding: 0px 25px;
    height: 55vh;
  }
}
header navbar {
  display: flex;
  width: 100%;
  padding: 40px 130px 10px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1500px) {
  header navbar {
    padding: 40px 25px 10px;
  }
}
header navbar .navbar-content {
  display: flex;
  color: white;
  font-family: nunito;
  font-size: 1.25rem;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  header navbar .navbar-content {
    display: none;
  }
}
header navbar .navbar-content ul li {
  display: inline-block;
}
header navbar .navbar-content ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  margin-right: 70px;
}
header navbar .navbar-content--login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  color: #93A5FF;
  padding: 12px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
header > .menuBurger {
  display: none;
  position: fixed;
  left: 90%;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: 150;
  padding-top: 10px;
  padding-left: 15px;
}
@media screen and (max-width: 1200px) {
  header > .menuBurger {
    display: flex;
  }
}
@media screen and (max-width: 560px) {
  header > .menuBurger {
    left: 85%;
    width: 90%;
  }
}
header > .menuBurger .burgerBtn {
  width: 20px;
  height: 30px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 25px;
}
header > .menuBurger .burgerBtn div {
  width: 7px;
  height: 7px;
  background-color: white;
  margin: 2px;
  z-index: 20;
}
header > .menuBurger .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  margin-left: 100px;
}
@media screen and (max-width: 880px) {
  header > .menuBurger .content {
    margin-left: 50px;
  }
}
@media screen and (max-width: 560px) {
  header > .menuBurger .content {
    margin-left: 75px;
  }
}
header > .menuBurger .content ul {
  list-style: none;
}
header > .menuBurger .content ul li {
  margin-bottom: 30px;
}
header > .menuBurger .content ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: nunito;
  text-transform: uppercase;
}
header .header-img {
  width: 40%;
}
@media screen and (max-width: 1200px) {
  header .header-img {
    width: 450px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 880px) {
  header .header-img {
    display: none;
  }
}
header .header-layer {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 110%;
  overflow: hidden;
}
@media screen and (max-width: 880px) {
  header .header-layer {
    height: 80%;
  }
}
header > .layer1 {
  top: -4.4rem;
  left: -2.6rem;
  background-color: #8C9EFC;
  transform: rotate(-4deg);
}
header > .layer2 {
  background-color: #424D83;
  top: -6.125rem;
  left: -2.25rem;
  transform: rotate(4deg);
}
@media screen and (max-width: 880px) {
  header > .layer2 {
    left: -2rem;
    width: 120%;
  }
}
header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: nunito;
  color: white;
  width: 50%;
}
@media screen and (max-width: 1200px) {
  header .header-content {
    margin-top: 100px;
    width: 90%;
  }
}
@media screen and (max-width: 880px) {
  header .header-content {
    margin-top: 50px;
    width: 100%;
  }
}
header .header-content h1 {
  font-family: roboto;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
header .header-content > p {
  font-size: 1.75rem;
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 45px;
}
header .header-content .input {
  display: flex;
}
@media screen and (max-width: 880px) {
  header .header-content .input {
    flex-direction: column;
    align-items: center;
  }
}
header .header-content .input div {
  display: flex;
}
header .header-content .input div input {
  font-size: 1.25rem;
  background-color: #384170;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 14px 17px;
  font-family: nunito;
  font-weight: 300;
  width: 400px;
  outline: none;
}
@media screen and (max-width: 880px) {
  header .header-content .input div input {
    width: 300px;
  }
}
@media screen and (max-width: 560px) {
  header .header-content .input div input {
    width: 200px;
  }
}
header .header-content .input div input::placeholder {
  color: white;
  opacity: 0.7;
}
header .header-content .input .extension {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #384170;
  padding: 14px 17px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 5px;
  width: 100px;
  font-family: nunito;
  color: white;
}
header .header-content .input .extension img {
  width: 9px;
  height: 6px;
}
header .header-content .input > p {
  text-transform: uppercase;
  background-color: #93A5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  letter-spacing: 0.25px;
  margin-left: 30px;
  width: fit-content;
  text-align: center;
}
@media screen and (max-width: 880px) {
  header .header-content .input > p {
    margin-top: 25px;
    margin-left: 0;
  }
}

.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 100px;
}
@media screen and (max-width: 560px) {
  .gain {
    margin: 0px 15px 100px;
  }
}
.gain-content {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .gain-content {
    flex-direction: column;
    align-items: center;
  }
}
.gain-content-cards {
  display: flex;
  flex-direction: column;
}
.gain-content-cards div {
  display: flex;
  font-family: nunito;
  margin-bottom: 30px;
  width: 70%;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 880px) {
  .gain-content-cards div {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .gain-content-cards div {
    flex-direction: column;
    align-items: center;
  }
}
.gain-content-cards div img {
  width: 75px;
  height: 75px;
}
.gain-content-cards div h3 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 880px) {
  .gain-content-cards div h3 {
    margin-bottom: 5px;
  }
}
.gain-content-cards div p {
  opacity: 0.8;
}
.gain-content-cards div > div {
  flex-direction: column;
  width: 80%;
}
.gain-content-illustrations {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gain-content-illustrations :nth-child(3) {
  width: 80%;
}
@media screen and (max-width: 880px) {
  .gain-content-illustrations :nth-child(3) {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .gain-content-illustrations :nth-child(3) {
    display: none;
  }
}
.gain-content-illustrations .square {
  position: absolute;
}
@media screen and (max-width: 880px) {
  .gain-content-illustrations .square {
    display: none;
  }
}
.gain-content-illustrations .square1 {
  bottom: 0;
  left: 0;
}
.gain-content-illustrations .square2 {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F8FF;
  padding: 100px 50px 75px;
}
@media screen and (max-width: 560px) {
  .start {
    padding: 100px 25px 75px;
  }
}
.start-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.start-content .item1 {
  background-color: #93A5FF;
}
.start-content .item2 {
  background-color: #424D83;
}
.start-content-item {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  padding: 50px 50px 45px 50px;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 50px;
}
@media screen and (max-width: 880px) {
  .start-content-item {
    width: 95%;
  }
}
@media screen and (max-width: 560px) {
  .start-content-item {
    width: 100%;
    padding: 25px 25px 20px 25px;
  }
}
.start-content-item > img {
  position: absolute;
  top: 15px;
  right: 15px;
}
@media screen and (max-width: 880px) {
  .start-content-item > img {
    width: 200px;
    z-index: 5;
  }
}
.start-content-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin-bottom: 40px;
  z-index: 10;
}
.start-content-item .launch {
  background-color: #424D83;
}
.start-content-item .window {
  background-color: #93A5FF;
}
.start-content-item > p:nth-of-type(1) {
  font-family: nunito;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.start-content-item > p:nth-of-type(2) {
  font-family: nunito;
  font-size: 1.25rem;
  margin-bottom: 20px;
  line-height: 40px;
}
@media screen and (max-width: 880px) {
  .start-content-item > p:nth-of-type(2) {
    line-height: normal;
  }
}
.start-content-item-button {
  display: flex;
  justify-content: flex-end;
}
.start-content-item-button > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #93A5FF;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px;
}
.start-content-item-button > div p {
  font-family: nunito;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}

.types {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 160px;
  color: #2E2E2E;
}
@media screen and (max-width: 880px) {
  .types {
    padding: 100px 50px;
  }
}
.types-cards {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media screen and (max-width: 1500px) {
  .types-cards {
    flex-wrap: wrap;
  }
}
.types-cards-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: nunito;
  box-shadow: 0px 10px 20px #d9d9d9;
  width: 350px;
  height: fit-content;
  padding: 80px 0px 0px;
}
@media screen and (max-width: 560px) {
  .types-cards-card {
    width: 320px;
  }
}
.types-cards-card h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
.types-cards-card > p {
  font-size: 1.125rem;
  line-height: 35px;
  text-align: center;
  padding: 0px 40px;
}
.types-cards-card > :nth-child(n) {
  margin-bottom: 25px;
}
.types-cards-card-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
}
.types-cards-card-price > p {
  margin-bottom: 10px;
}
.types-cards-card-price p:nth-of-type(2) {
  font-size: 1rem;
}
.types-cards-card-price p:nth-of-type(2) span {
  font-size: 2.5rem;
}
.types-cards-card-price-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.types-cards-card-price-button > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #93A5FF;
  background-color: #F7F8FF;
  border-radius: 5px;
  padding: 15px 20px;
}
.types-cards-card-price-button > div p {
  font-family: nunito;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 15px;
}

.testimonials {
  background-color: #F7F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .testimonials {
    padding: 100px 50px;
  }
}
.testimonials-items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 880px) {
  .testimonials-items {
    gap: 50px;
    flex-direction: column;
    align-items: center;
  }
}
.testimonials-items-item {
  display: flex;
  width: 45%;
  gap: 20px;
}
@media screen and (max-width: 880px) {
  .testimonials-items-item {
    width: 90%;
    flex-direction: column;
  }
}
.testimonials-items-item > img {
  width: 105px;
  height: 105px;
}
.testimonials-items-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: nunito;
  color: #2E2E2E;
}
.testimonials-items-item-content img {
  width: 135px;
  margin-bottom: 25px;
}
.testimonials-items-item-content p:nth-of-type(1) {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 10px;
}
.testimonials-items-item-content p:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: bold;
}
.testimonials > img:nth-of-type(1) {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
@media screen and (max-width: 880px) {
  .testimonials > img:nth-of-type(1) {
    display: none;
  }
}
.testimonials > img:nth-of-type(2) {
  position: absolute;
  top: -100px;
  right: 0px;
}
@media screen and (max-width: 880px) {
  .testimonials > img:nth-of-type(2) {
    display: none;
  }
}
.testimonials > img:nth-of-type(3) {
  margin-top: 65px;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}
.clients-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 50px;
}
.clients a {
  text-transform: uppercase;
  color: white;
  font-family: nunito;
  font-size: 1.125rem;
  background-color: #93A5FF;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 80px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: nunito;
  padding: 250px 50px 0px;
  overflow: hidden;
  width: 100%;
}
@media screen and (max-width: 560px) {
  footer {
    padding-top: 0px;
    height: 50vh;
  }
}
footer .footerLayer {
  position: absolute;
  width: 110%;
  height: 100%;
  bottom: 0px;
  z-index: -10;
}
footer .footerLayer:nth-of-type(1) {
  bottom: -5.4rem;
  left: -2.7rem;
  background-color: #8C9EFC;
  transform: rotate(-4deg);
}
@media screen and (max-width: 880px) {
  footer .footerLayer:nth-of-type(1) {
    left: 0;
  }
}
footer .footerLayer:nth-of-type(2) {
  bottom: -6.125rem;
  left: -2.25rem;
  background-color: #424D83;
  transform: rotate(4deg);
}
@media screen and (max-width: 880px) {
  footer .footerLayer:nth-of-type(2) {
    width: 125%;
  }
}
footer .footer-blocs {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 560px) {
  footer .footer-blocs {
    display: none;
  }
}
footer .footer-blocs-bloc {
  display: flex;
  flex-direction: column;
}
footer .footer-blocs-bloc h3 {
  margin-bottom: 24px;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
footer .footer-blocs-bloc a {
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
}
@media screen and (max-width: 560px) {
  footer .footer-blocs-bloc a {
    display: none;
  }
}
footer .footer-blocs-bloc-payment {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
footer .footer-bottom {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: white;
  margin-top: 125px;
  margin-bottom: 125px;
}
@media screen and (max-width: 560px) {
  footer .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0px;
    height: 50%;
  }
}
footer .footer-bottom-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 560px) {
  footer .footer-bottom-links {
    align-items: center;
    gap: 20px;
  }
}
footer .footer-bottom-links > .social {
  display: flex;
  gap: 15px;
}
footer .footer-bottom-links > .policy {
  display: flex;
  margin-top: 25px;
}
footer .footer-bottom-links > .policy a {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 560px) {
  footer .footer-bottom-links > .policy a {
    padding: 5px 10px;
  }
}
footer .footer-bottom-links > .policy a:nth-of-type(1) {
  border-right: 1px solid white;
}

/*# sourceMappingURL=style.css.map */
