@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

.sectionTitle {
  font-family: nunito;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.sectionDescription {
  color: #2E2E2E;
  font-family: nunito;
  font-size: 1.75rem;
  opacity: 0.8;
  margin-bottom: 100px;
}

navbar {
  display: flex;
  width: 100%;
  padding: 40px 140px 10px;
  justify-content: space-between;
  align-items: center;


  .navbar-content {
    display: flex;
    color: white;
    font-family: nunito;
    font-size: 1.25rem;
    align-items: center;

    ul li {
      display: inline-block;

      a {
        list-style: none;
        text-decoration: none;
        color: white;
        margin-right: 70px;
      }
    }

    &--login {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 125px;
      color: #93A5FF;
      padding: 12px 20px;
      background-color: #fff;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 0px 140px;
  margin-bottom: 150px;

  .header-img {
    width: 750px;
  }

  .header-layer {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    font-family: nunito;
    color: white;

    h1 {
      font-family: roboto;
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    > p {
      font-size: 1.75rem;
      font-weight: 400;
      opacity: 0.8;
      margin-bottom: 45px;
    }

    .input {
      display: flex;

      input {
        font-size: 1.25rem;
        background-color: #384170;
        border: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        padding: 14px 17px;
        font-family: nunito;
        font-weight: 300;
        width: 400px;
        outline: none;
      }

      input::placeholder {
        color: white;
        opacity: 0.7;
      }

      .extension {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #384170;
        padding: 14px 17px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        margin-left: 5px;
        width: 100px;
        font-family: nunito;
        color: white;

        img {
          width: 9px;
          height: 6px;
        }
      }

      > p {
        text-transform: uppercase;
        background-color: #93A5FF;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        border-radius: 5px;
        letter-spacing: 0.25px;
        margin-left: 30px;
        width: fit-content;
      }
    }
  }
}

.gain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px 0px 100px;

  &-content {
    display: flex;

    &-cards {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        font-family: nunito;
        margin-bottom: 30px;
        width: 70%;
        justify-content: space-between;

        img {
          width: 75px;
          height: 75px;
        }

        h3 {
          font-size: 1.4rem;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        p {
          opacity: 0.8;
        }

        > div {
          flex-direction: column;
          width: 80%;
        }
      }
    }

    &-illustrations {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      :nth-child(3) {
        width: 80%;
      }

      .square {
        position: absolute;
      }

      .square1 {
        bottom: 0;
        left: 0;
      }

      .square2 {
        top: 0;
        right: 0;
        transform: rotate(90deg);
      }
    }
  }
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F8FF;
  padding: 100px 0px 75px;

  &-content {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
    flex-wrap: wrap;

    .item1 {
      background-color: #93A5FF;
    }

    .item2 {
      background-color: #424D83;
    }

    &-item {
      display: flex;
      position: relative;
      flex-direction: column;
      color: white;
      padding: 50px 50px 45px 50px;
      border-radius: 10px;
      margin: 0 50px;
      width: 40%;
      min-width: 550px;
      margin-bottom: 50px;

      > img {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 5px;
        margin-bottom: 40px;
      }

      .launch {
        background-color: #424D83;
      }

      .window {
        background-color: #93A5FF;
      }

      > p:nth-of-type(1) {
        font-family: nunito;
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      > p:nth-of-type(2) {
        font-family: nunito;
        font-size: 1.25rem;
        margin-bottom: 20px;
        line-height: 40px;
      }

      &-button {
        display: flex;
        justify-content: flex-end;

        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #93A5FF;
          background-color: #fff;
          border-radius: 5px;
          padding: 15px 20px;

          p {
            font-family: nunito;
            font-size: 1.125rem;
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

.types {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px 160px;
  color: #2E2E2E;

  &-cards {
    display: flex;
    justify-content: space-around;
    gap: 60px;

    &-card {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: nunito;
      box-shadow: 0px 10px 20px #d9d9d9;
      width: 360px;
      height: fit-content;
      padding: 80px 0px 0px;

      h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
      }

      >p {
        font-size: 1.125rem;
        line-height: 35px;
        text-align: center;
        padding: 0px 40px;
      }

      > :nth-child(n) {
        margin-bottom: 25px;
      }

      &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        border-top: 1px solid #e5e5e5;

        >p {
          margin-bottom: 10px;
        }

        p:nth-of-type(2) {
          font-size: 1rem;

          span {
            font-size: 2.5rem;
          }
        }

        &-button {
          display: flex;
          justify-content: center;
          margin-top: 50px;
          margin-bottom: 30px;

          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #93A5FF;
            background-color: #F7F8FF;
            border-radius: 5px;
            padding: 15px 20px;

            p {
              font-family: nunito;
              font-size: 1.125rem;
              text-transform: uppercase;
              font-weight: bold;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
.testimonials{
  background-color: #F7F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  position: relative;
  &-items{
    display: flex;
    justify-content: space-between;
    &-item{
      display: flex;
      width: 45%;
      gap: 20px;
      >img{
        width: 105px;
        height: 105px;
      }
      &-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: nunito;
        color: #2E2E2E;
        img{
          width: 135px;
          margin-bottom: 25px;
        }
        p:nth-of-type(1){
          font-size: 1.4rem;
          font-style: italic;
          margin-bottom: 10px;
        }
        p:nth-of-type(2){
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
    }
  }
  >img:nth-of-type(1){
    position: absolute;
    bottom: -100px;
    left: 0px;
  }
  >img:nth-of-type(2){
    position: absolute;
    top: -100px;
    right: 0px;
  }
  >img:nth-of-type(3){
    margin-top: 65px;
  }
}

.clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
  &-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
  a{
    text-transform: uppercase;
    color: white;
    font-family: nunito;
    font-size: 1.125rem;
    background-color: #93A5FF;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 80px;
  }
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: nunito;
  margin-top: 175px;
  padding: 0px 50px;
  >img{
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: -10;
  }
  .footer-blocs{
    display: flex;
    justify-content: space-between;
    width: 90%;
    &-bloc{
      display: flex;
      flex-direction: column;
      h3{
        margin-bottom: 24px;
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
      }
      a{
        text-decoration: none;
        font-size: 1.25rem;
        color: white;
      }
      &-payment{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
  .footer-bottom{
    display: flex;
    width: 90%;
    justify-content: space-between;
    color: white;
    margin-top: 125px;
    margin-bottom: 125px;
    &-links{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      >.social{
        display: flex;
        gap: 15px;
      }
      >.policy{
        display: flex;
        margin-top: 25px;
        a{
          padding: 5px 20px;
          text-decoration: none;
          color: white;
        }
        a:nth-of-type(1){
          border-right: 1px solid white;
        }
      }
    }
  }
}